.review-title{
    text-align: center;
      margin-top: 30px;
      padding:20px;
}
.review form{
    display: flex;
     flex-direction: column;
     max-width: 500px;
        
       margin:0 auto; 
}
.review input,textarea{
    margin:8px 0;
    outline:none;
    border: none;
    border-bottom: 1px solid rgb(231, 67, 17);
    
}

 .reviewBtn{
    background-color: rgb(6, 12, 100);
    border-radius: 15px;
    color:white;
    font-weight: 600;
    padding: 2px 15px;
}