

.price{
    color:orangered;

}

.orderBtn{
    border:2px solid orangered ;
    border-radius: 5px;
    color:orangered;
}

.orderBtn:hover{
   background-color:  orangered ;
   color:white;
   font-weight: 600;

}
.imgscale {
	overflow: hidden;
}
.imgscale img{ 
    transition: all .3s ease-in;
}
.imgscale:hover img { 
    	transform: scale(1.25);
        padding-bottom:10px;
}