
.bg{
    background:url('../../../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    
}
.caption{
    background-color: rgba(0, 0, 0, 0.637);
    height: 80vh;
}
.caption1 {
    margin:60px 0 0 20px;
    font-size: 50px;
    color:rgb(123, 255, 0);
    font-weight: 700;
    padding:10px;
    
}
.caption2 {
    margin:60px 0 0 20px;
    font-size: 50px;
    color:rgb(239, 241, 236);
    font-weight: 700;
    padding:10px;
}
.caption3 {
    margin:60px 0 0 20px;
    font-size: 50px;
    color:rgb(235, 184, 18);
    font-weight: 700;
    padding:10px;
}