.nestedNav{
    background: rgb(6, 22, 110);
    padding:20px;
    height: 80vh;
}
.nestedNav li{
    list-style-type: none;
    margin:20px 0;
}
.nestedNav li a{
  color:white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nestedNav .nestedSelcted{
 background-color: red;
 display: block;
 padding:10px;
}